<?xml version="1.0"?>
<!--
 * @author MageHook <info@magehook.com>
 * @package MageHook_Hook
 *
 * For the full copyright and license information, please view the LICENSE.txt
 * file that was distributed with this source code.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
  <acl>
    <resources>
      <resource id="Magento_Backend::admin">
        <resource id="Magento_Backend::system">
          <resource id="Magento_Backend::tools">
            <resource id="MageHook_Hook::default"
                      title="Hooks"
                      translate="title"
                      sortOrder="10"/>
            </resource>
        </resource>
      </resource>
    </resources>
  </acl>
</config>
